body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

/* Centrer le titre et ajouter un espacement en haut */
.page {
    text-align: center;
    margin-top: 50px;
}

/* Centrer les éléments de l'application Elm */
#elm-app-is-loaded-here {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    font-size: 16px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
